@media screen and (min-width:842px) {
    #main-container{
        flex-direction: row !important;
        height: 85vh;
    }

    #content{
        height: calc(85vh - 20%);
    }
}

@media screen and (max-width:842px) {
    #main-container{
        height: 75vh;
    }

    #content{
        height: calc(75vh - 10%);
    }
}




#main-container{
    background:linear-gradient(to left,rgb(55, 105, 255),rgb(0, 0, 61));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    background-color: rgb(213, 223, 255);
    width: 90%;
    box-shadow: 1px 1px 1px rgb(15, 0, 75);
    border-radius: 10px;
    transition: 5s linear-gradient;
    backdrop-filter: blur(20px);
}
