#game-content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    left: 0%;
    flex-wrap: wrap;
}

.character{
    padding: 3%;
    border: 1px solid black;
    margin-block: 1.5%;
    margin-inline: 2%;
    border-radius: 10px;
    max-width: 50vw;
}

.character > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.character > div > div{
    border: 1px solid red;
    padding: 1%;
}
