

#game-content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    left: 0%;
    flex-wrap: wrap;
    background:linear-gradient(to left,rgb(55, 105, 255),rgb(0, 0, 61));
}

.character{
    padding: 3%;
    border: 1px solid black;
    margin-block: 1.5%;
    margin-inline: 10%;
    border-radius: 10px;
    max-width: 80vw;
    background-color: white;
    
}

.character:hover{
    box-shadow: 3px 3px 20px black;
    border: 2px solid green;
    transform: translate(-0.5%,-0.5%);
}

.character > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.character > div > div{
    padding: 1%;
}
