/*Importar fontes*/
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
/*Importar Estilos*/
@import url('./header.css');
@import url('./center.css');
@import url('./news.css');
@import url('./footer.css');
@import url("./carrossel.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    overflow: visible;
}

